
<label for="title">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="verb">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.verb" />
</label><br />
	<f:form.textfield property="verb" /><br />
<label for="userId">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.user_id" />
</label><br />
	<f:form.textfield property="userId" /><br />
<label for="groupId">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.group_id" />
</label><br />
	<f:form.textfield property="groupId" /><br />
<label for="appId">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.app_id" />
</label><br />
	<f:form.textfield property="appId" /><br />
<label for="bcc">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.bcc" />
</label><br />
	<f:form.textfield property="bcc" /><br />
<label for="bto">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.bto" />
</label><br />
	<f:form.textfield property="bto" /><br />
<label for="cc">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.cc" />
</label><br />
	<f:form.textfield property="cc" /><br />
<label for="context">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.context" />
</label><br />
	<f:form.textfield property="context" /><br />
<label for="dc">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.dc" />
</label><br />
	<f:form.textfield property="dc" /><br />
<label for="endTime">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.end_time" />
</label><br />
	<f:form.textfield property="endTime"  value="{activityStreamsEntry.endTime->f:format.date()}" /><br />
<label for="geojson">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.geojson" />
</label><br />
	<f:form.textfield property="geojson" /><br />
<label for="inReplyTo">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.in_reply_to" />
</label><br />
	<f:form.textfield property="inReplyTo" /><br />
<label for="ld">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.ld" />
</label><br />
	<f:form.textfield property="ld" /><br />
<label for="links">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.links" />
</label><br />
	<f:form.textfield property="links" /><br />
<label for="location">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.location" />
</label><br />
	<f:form.textfield property="location" /><br />
<label for="mood">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.mood" />
</label><br />
	<f:form.textfield property="mood" /><br />
<label for="odata">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.odata" />
</label><br />
	<f:form.textfield property="odata" /><br />
<label for="opengraph">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.opengraph" />
</label><br />
	<f:form.textfield property="opengraph" /><br />
<label for="priority">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.priority" />
</label><br />
	<f:form.textfield property="priority" /><br />
<label for="rating">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.rating" />
</label><br />
	<f:form.textfield property="rating" /><br />
<label for="result">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.result" />
</label><br />
	<f:form.textfield property="result" /><br />
<label for="schemaOrg">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.schema_org" />
</label><br />
	<f:form.textfield property="schemaOrg" /><br />
<label for="source">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.source" />
</label><br />
	<f:form.textfield property="source" /><br />
<label for="startTime">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.start_time" />
</label><br />
	<f:form.textfield property="startTime"  value="{activityStreamsEntry.startTime->f:format.date()}" /><br />
<label for="tags">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.tags" />
</label><br />
	<f:form.textfield property="tags" /><br />
<label for="toObject">
	<f:translate key="tx_socialcms_domain_model_activitystreamsentry.to_object" />
</label><br />
	<f:form.textfield property="toObject" /><br />