
<table class="tx-socialcms" >
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.title" />
		</td>
		<td>
		{activityStreamsEntry.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.verb" />
		</td>
		<td>
		{activityStreamsEntry.verb}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.user_id" />
		</td>
		<td>
		{activityStreamsEntry.userId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.group_id" />
		</td>
		<td>
		{activityStreamsEntry.groupId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.app_id" />
		</td>
		<td>
		{activityStreamsEntry.appId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.bcc" />
		</td>
		<td>
		{activityStreamsEntry.bcc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.bto" />
		</td>
		<td>
		{activityStreamsEntry.bto}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.cc" />
		</td>
		<td>
		{activityStreamsEntry.cc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.context" />
		</td>
		<td>
		{activityStreamsEntry.context}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.dc" />
		</td>
		<td>
		{activityStreamsEntry.dc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.end_time" />
		</td>
		<td>
		{activityStreamsEntry.endTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.geojson" />
		</td>
		<td>
		{activityStreamsEntry.geojson}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.in_reply_to" />
		</td>
		<td>
		{activityStreamsEntry.inReplyTo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.ld" />
		</td>
		<td>
		{activityStreamsEntry.ld}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.links" />
		</td>
		<td>
		{activityStreamsEntry.links}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.location" />
		</td>
		<td>
		{activityStreamsEntry.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.mood" />
		</td>
		<td>
		{activityStreamsEntry.mood}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.odata" />
		</td>
		<td>
		{activityStreamsEntry.odata}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.opengraph" />
		</td>
		<td>
		{activityStreamsEntry.opengraph}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.priority" />
		</td>
		<td>
		{activityStreamsEntry.priority}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.rating" />
		</td>
		<td>
		{activityStreamsEntry.rating}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.result" />
		</td>
		<td>
		{activityStreamsEntry.result}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.schema_org" />
		</td>
		<td>
		{activityStreamsEntry.schemaOrg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.source" />
		</td>
		<td>
		{activityStreamsEntry.source}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.start_time" />
		</td>
		<td>
		{activityStreamsEntry.startTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.tags" />
		</td>
		<td>
		{activityStreamsEntry.tags}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_socialcms_domain_model_activitystreamsentry.to_object" />
		</td>
		<td>
		{activityStreamsEntry.toObject}
		</td>
	</tr>
</table>